body, html {
    width: 100%
}

* {
    //border: 1px solid black;
}

.contactItem {
    text-decoration: underline 10px purple;
    
}
.pocket {
    color:blue;
    display:flex;
    flex-wrap:wrap;
    position:relative;
    border:1px solid white;
    height:300px;
    width:400px;
    margin:10px;


}
.cube {
    display:flex;
    position:relative;
    flex-wrap:wrap;
}
